body{
  background-color: $color--body-background;
  margin: auto;
  border: 2px black;
}
main{
  width: 70vw;
  margin: 20px auto;
  align-self: center;
  background-color: $color--main-background;
}
h2{
  font-family: $font--reading;
}
p{
  font-family: $font--reading;
  font-size: $font--text-size;
  font-weight: $font--text-weight;
}
#monet img {
  width: 250px;
}
#gallery img{
  height: 50%;
}
img {
  width:  90%;
  height: 90%;
  object-fit: cover;
}